[Unit]
Description=Weather Camera Service
After=NetworkManager.service network-online.target
Wants=network-online.target

[Service]
#ExecStartPre=/usr/bin/python3 /home/gedonsoft/Weather/OTA.py
ExecStart=/usr/bin/python3 /home/gedonsoft/Weather/weather.py
WorkingDirectory=/home/gedonsoft
StandardOutput=journal
StandardError=journal
Restart=always
User=gedonsoft

[Install]
WantedBy=multi-user.target
