[Unit]
Description=Weather Camera Service
After=NetworkManager.service network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/WeatherDevice/Firmware/RPi/weather.py
WorkingDirectory=/home
StandardOutput=journal
StandardError=journal
Restart=always
User=gedonsoft

[Install]
WantedBy=multi-user.target
